@model EasyBay.ViewModels.AddLotViewModel

@{
    ViewData["Title"] = "AddLot";
}

<div id="error" style="color: red;"></div>

<fieldset class="fform">
    <form class="content" asp-action="AddLot" asp-controller="User">
        <label for="TradeFinishTime">TradeFinishTime</label><br />
        <input id="TradeFinishTime" type="date" name="TradeFinishTime" asp-for="TradeFinishTime" /><br />
        <br />
        <label for="BuyOutPrice">BuyOutPrice</label><br />
        <input id="BuyOutPrice" name="BuyOutPrice" type="number" asp-for="BuyOutPrice" /><br />
        <br />
        <label for="StartingPrice">StartingPrice</label><br />
        <input id="StartingPrice" name="StartingPrice" type="number" asp-for="StartingPrice" /><br />
        <br />
        <label for="Name">Name</label><br />
        <input id="Name" name="Name" type="text" asp-for="Name" /><br />
        <br />
        <label for="Description">Description</label><br />
        <input id="Description" name="Description" type="text" asp-for="Description" /><br />
        <br />
        <button id="confirm" class="btn grow" type="submit">Add Lot</button>
    </form>
</fieldset>

<script>
    TradeFinishTime.onblur = function () {

        if ( new Date($("#TradeFinishTime").val()) < new Date()) {
            this.className = "error";
            error.innerHTML = 'Not corrected date';
            $('#TradeFinishTime').css("border", "3px red solid");
            $('#confirm').prop('disabled', true);
        }
        else {
            this.className = "";
            error.innerHTML = "";
            $('#confirm').prop('disabled', false);
            $('#TradeFinishTime').css("border", "2px solid #b7b3b3");
        }
    };

  
</script>