@model EasyBay.ViewModels.RegisterViewModel
<div id="error" style="color: red;"></div>
<fieldset class="fform">
    <form class="content" asp-action="Register" asp-controller="User">
        <label for="Username">Login</label><br />
        <input id="username" type="text" name="Username" asp-for="Username" /><br />
        <br />
        <label for="Email">Email</label><br />
        <input id="email" name="Email" type="email" asp-for="Email" /><br />
        <br />
        <label for="Password">Password</label><br />
        <input id="password" name="Password" type="password" asp-for="Password" /><br />
        <br />
        <label for="ConfirmPassword">ConfirmPassword</label><br />
        <input id="confirm" name="ConfirmPassword" type="password" asp-for="ConfirmPassword" /><br />
        <br />
        <button class="btn grow" type="submit">Registration</button>
    </form>
</fieldset>


<script>
    
    username.onblur = function () {
        if (!isNaN(this.value)) {
            this.className = "error";
            error.innerHTML = 'Not corrected username\n'
            $('#username').css("border", "3px red solid");
        }
        else {
            this.className = "";
            error.innerHTML = "";
            $('#username').css("border", "2px solid #b7b3b3");
        }
    };

    password.onblur = function () {
        var minNumberofChars = 6;
        var maxNumberofChars = 16;
        var regularExpression = /^[a-zA-Z0-9!#$%^&*]{6,16}$/;
        var newPassword = this.value;

        if (newPassword.length < minNumberofChars || newPassword.length > maxNumberofChars) {
            this.className = "error";
            error.innerHTML = 'Not corrected password'
            $('#password').css("border", "3px red solid");
        }
        else if (!regularExpression.test(newPassword)) {
            this.className = "error";
            error.innerHTML = 'Password should contain atleast one number and one special character'
            $('#password').css("border", "3px red solid");
        }
        else {
            this.className = "";
            error.innerHTML = "";
            $('#password').css("border", "2px solid #b7b3b3");
        }
    };

    email.onblur = function () {
        var reg = /.+@@.+\..+/;
        var address = this.value;

        if (!reg.test(address)) {
            this.className = "error";
            error.innerHTML = 'Not corrected email';
            $('#email').css("border", "3px red solid");
        }
        else {
            this.className = "";
            error.innerHTML = "";
            $('#email').css("border", "2px solid #b7b3b3");
        }
    };

    confirm.onblur = function () {
        if ($('#password').value != this.value) {
            this.className = "error";
            error.innerHTML = 'Passwords do not match'
            $('#password').css("border", "3px red solid");
            $('#confirm').css("border", "3px red solid");
        }
        else {
            this.className = "";
            error.innerHTML = "";
            $('#password').css("border", "2px solid #b7b3b3");
            $('#confirm').css("border", "2px solid #b7b3b3");
        }
    };
</script>