<div class="home-content clearfix">
    <h1> Why EasyBay?</h1>
    <h2>Because it's easy.</h2>
    <form asp-controller="Users" asp-action="Register">
        <button class="grow" style="margin: 10px" id="home-signup" type="submit">Sign Up!</button>
    </form>
    <br />
    <hr />
    <h1>What do we offer?</h1>
    <p class="option">- You can track lots in <strong><em>real time!</em></strong></p>
    <p class="option">- Simple to use, just browse lots and buy'em!</p>
    <br />
    <img alt="auct" style="border-radius: 5px;" src="~/images/home.jpg">

</div>